*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.current-day h1{
    font-family: Russo One;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top: 18%;    
    left: 61%;
    color: white;
}